.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

// .iconButton {
//     position: fixed;
//     z-index: 100;
//     right: 20px;
//     top: 20px;
// }